.app-container {
	background-color: lightgray;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.column-grid__container {
	flex-grow: 1;
	border: 10px solid red;
	display: grid;
	grid: auto / auto-flow 1fr;
	gap: 0.5em;
}

.column-grid__column {
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
}

.column-grid__column-area {
	border: 1px solid red;
	position: relative;
	flex-grow: 1;
}

.event-box {
	position: absolute;
	background-color: green;
}
